.header {
  background: var(--primary-color-2);
  min-height: 4rem;
  padding: 0.5rem;
  color: var(--neutral-color-2);
}

.topReport {
  height: 17rem;
  background: var(--neutral-color-1);
  padding: 1rem;
}

.arrangeRow {
  float: right;
  align-items: center;
  display: flex;
  height: 100%;
}

.row {
  background: var(--primary-color-2);
  margin-top: 1rem;
  padding: 1rem;
  justify-items: center;
  min-height: 20rem;
}

.topSymbol {
  background: var(--neutral-color-1);
  min-width: 3rem;
  color: var(--primary-color);
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.topCard {
  background: var(--neutral-color-2);
  min-width: 3rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.cardBody span {
  margin-top: 0.6rem;
}

.staticChart {
  width: 10rem;
  opacity: 0.7;
}

.formControl {
  border: none;
  outline: none;
}

.formControl:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.formControl:hover {
  background: none !important;
  color: black;
}

.card {
  color: white;
  background: var(--primary-color-2);
  min-height: 13rem;
  padding: 0.7rem;
  box-shadow: 0 0 2px var(--neutral-color-2);
  cursor: pointer;
}

.cardTop {
  font-size: 1.1rem;
  color: var(--neutral-color-2);
}

@media (max-width: 768px) {
  .card {
    font-size: 1rem;
  }

  .marginCreate {
    min-width: 0;
  }

  .staticChart {
    width: 8rem;
  }
}
