.header {
    background: var(--primary-color-2);
    height: 4rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--neutral-color-2);
}

.topReport {
    height: 20rem;
    background: var(--neutral-color-1);
    border-radius: 1.5rem;
    padding: 1rem;
}

.row {
    background: var(--primary-color-2);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    justify-items: center;
    min-height: 20rem;
}